@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-family: 'Cormorant SC', serif;
}

body{
    background:#fffffe;
    background-size: cover;
    color: #094067;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    height: 20vh;
}


/* customising layout */
.board{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    padding: 5px;
    margin: 20px;
    border: 2px solid rgb(188, 188, 188);
    background-color: rgb(161, 161, 161);
    text-align: center;
    border-radius: 5px;
}

.card{
    color: white;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
    border-radius: 3px;
    background-color: black;
}

 h2.todo{
    color:  #fffffe;
    margin-bottom: 20px;
}

h2.progress{
    color:  #fffffe;
    margin-bottom: 20px;
}
h2.complete{
    color:  #fffffe;
    margin-bottom: 20px;
}


/* styling the card class cursors */
.card {
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

/* styling card drag and drop effect */
.card{
    transition: all 0.3s cubic-bezier(0.39, 0, 0.2, 1) ;
}

.card.dragging{
    opacity: .5;
    transform: scale(.8)
}